
# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Enviroment
.env 
.env.*
!.env.example

#Node 
node_modules/
npm-debug.log*
yarn-debug.log*

#React 
dist/
build/

#IDE
.vscode/
.idea/

#macOs
.DS_Store

#logs
*.log

#Docker
docker-data/

#Testing
.pytest_cache/
.coverage
htmlcov/

#Secrets
*.pem
*.key